@charset "UTF-8"


    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

    * {
        margin: 0;
        padding: 0;
        outline: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
    }

    body {
        width: 100%;
        height: 100vh;
    }
  
    .content {
        padding: 100px;
    }